.header{
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    background-color: cyan;
  }
  #home{
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size:cover;
    width: 100%;
    height: 100vh;
    position: relative;
    color:black;
    background-color:blue;
    padding-top: 0px;
  }
  #about{
    background-color:blue;

  }
  #projects{
    background-color:cyan;
  }
  #contact{
    background-color: cyan;
  }
  h5{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  background-color:cyan;
}
img{
  width: 650px;
  height: 490px;
  justify-content: space-around;
  padding: 0px;
}
h7{
  font-weight: bold;
}
#navbar{
  text-align: center;
}